body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
}
header{
    color: darkblue;
    background-color: beige;
    padding: 20px;
    margin: 20px;
}
nav ul li a {
    color: blueviolet;
    text-decoration: solid;
}
#services{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.service{
    background-color: beige;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
form button :hover{
    background-color: red;
}
footer{
    text-align: center;
    background-color: brown;
    color: black;
}
button :hover{
    color: red;
    background-color: azure;
}
h2{
    padding: 20px;
    margin: 20px;
}