body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: darkblue;
    padding: 20px;
    text-align: center;
}
header{
    color: rgb(2c, 3e, 3);
    background-color: antiquewhite;
    padding: 20px;
}
nav ul li a {
    color: blueviolet;
    text-decoration: solid;
}
#services{
    padding: 20px;
}
.service{
    background-color: beige;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
form button :hover{
    background-color: red;
}
footer{
    text-align: center;
    background-color: brown;
    color: black;
}
#about{
    padding: 20px;
}
button :hover{
    color: red;
    background-color: azure;
}